name: PR Quality Gates

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: write

jobs:
  quality-gates:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          pip install -r autoscale_demo/requirements.txt
          pip install pytest pytest-cov

      - name: Run unit & integration tests
        run: |
          pytest autoscale_demo/tests \
            --ignore=autoscale_demo/tests/smoke \
            --cov=autoscale_demo/app \
            --cov-report=xml

      # ----------------------------
      # SonarCloud (ONLY PLACE)
      # ----------------------------
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@b9f4b91c6bb0b62bb5b9c6b64cf68545e03d83c2
        with:
          projectBaseDir: autoscale_demo
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

